body
{
	background: white;
	background-size: 800px;
	background-repeat: no-repeat;
}

#video1{
	position: absolute;
	width:601px;
	height:412px;
	margin-left: 258px;
    margin-top: 173px;
    background-color: black;
	z-index: 1;
	display: none;
}

#video2{
	position: absolute;
	width:601px;
	height:412px;
	margin-left: 258px;
    margin-top: 173px;
    background-color: black;
	z-index: 1;
	display: none;
}

#video3{
	position: absolute;
	width:601px;
	height:412px;
	margin-left: 258px;
    margin-top: 173px;
    background-color: black;
	z-index: 1;
	display: none;
}

#video4{
	position: absolute;
	width:601px;
	height:412px;
	margin-left: 258px;
    margin-top: 173px;
    background-color: black;
	z-index: 1;
	display: none;
}

#video5{
	position: absolute;
	width:601px;
	height:412px;
	margin-left: 258px;
    margin-top: 173px;
    background-color: black;
	z-index: 1;
	display: none;
}

#record{
  z-index: 1;
  position: absolute;
  bottom: 300px;
  right: 0;
  background-color: gray;
}

#savedVideo{
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
}

#videodownload{
  position: absolute;
  bottom: 500px;
  right: 0;
}
